/* ==================================================================
    VARIABLES
================================================================== */

:root {
  --background: #fff;
  --block-background: hsl(0, 0%, 94%);
  --output-background: hsl(0, 0%, 98%);
  --small: 14px;
  --normal: 19px;
  --text-color: hsv(0, 0%, 20%);
  /* Adding the Florian colorscheme colors */
  --theme-silver-color:        #9e9997;
  --theme-lightblue-color:     #a1b4c7;
  --theme-seagreen-color:      #23553c;
  --theme-orange-color:        #ea8810;
  --theme-rust-color:          #b8420f;

  --theme-lightsilver-color:   #e7e6e5;
  --theme-darksilver-color:    #96918f;
  --theme-darklightblue-color: #8999a9;
  --theme-darkseagreen-color:  #1e4833;
  --theme-darkorange-color:    #c7740e;
  --theme-darkrust-color:      #9c380d;
}

/* ==================================================================
    DEFAULT FONT AND LAYOUT
================================================================== */

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: var(--normal);
  color: var(--text-color);
}

/* ==================================================================
    BASIC GRID FOR PROFILE PIC
================================================================== */

.franklin-content .row {
  display: block;
}

.franklin-content .left {
  float: left;
  margin-right: 15px;
}

.franklin-content .right {
  float: right;
}

.franklin-content .container img {
  width: auto;
  padding-left: 0;
  border-radius: 10px;
}

.franklin-content .footnote {
  position: relative;
  top: -0.5em;
  font-size: 70%;
}

/* ==================================================================
    FOOT / COPYRIGHT
================================================================== */

.franklin-content .page-foot a {
  text-decoration: none;
  color: #a6a2a0;
  text-decoration: underline;
}

.page-foot {
  font-size: 80%;
  color: var(--theme-silver-color);
  text-align: right;
  margin-top: 2em;
  border-top: 1px solid lightgrey;
  padding-top: 1em;
  margin-bottom: 1em;
}

/* ==================================================================
    TEXT GEOMETRY
================================================================== */

.franklin-toc li {
  /* Avoid clickable elements being too close together. */
  margin: 0.6rem 0;
}

.franklin-content {
  position: relative;
  padding-left: 12.5%;
  padding-right: 12.5%;
  line-height: 1.35em;
}

/* On wide screens, fix content width to a max value. */
@media (min-width: 940px) {
  .franklin-content {
    width: 705px;
    margin-left: auto;
    margin-right: auto;
  }
}

/* On narrow device, reduce margins. */
@media (max-width: 480px) {
  .franklin-content {
    padding-left: 6%;
    padding-right: 6%;
  }
}

/* ==================================================================
    TITLES
================================================================== */

.franklin-content h1 { font-size: 24px; }
.franklin-content h2 { font-size: 22px; }
.franklin-content h3 { font-size: 20px; }

.franklin-content h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: left;
}

.franklin-content h1 {
  padding-bottom: 0.5em;
  border-bottom: 3px double lightgrey;
  margin-top: 1.5em;
  margin-bottom: 1em;
}

.franklin-content h2 {
  padding-bottom: 0.3em;
  border-bottom: 1px solid lightgrey;
  margin-top: 2em;
  margin-bottom: 1em;
}

.franklin-content h1 a { color: inherit; }
.franklin-content h1 a:hover { text-decoration: none; }
.franklin-content h2 a { color: inherit; }
.franklin-content h2 a:hover { text-decoration: none; }
.franklin-content h3 a { color: inherit; }
.franklin-content h3 a:hover { text-decoration: none; }
.franklin-content h4 a { color: inherit; }
.franklin-content h4 a:hover { text-decoration: none; }
.franklin-content h5 a { color: inherit; }
.franklin-content h5 a:hover { text-decoration: none; }
.franklin-content h6 a { color: inherit; }
.franklin-content h6 a:hover { text-decoration: none; }

.franklin-content table {
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
}

.franklin-toc ol ol {
  list-style-type: lower-alpha;
}

.franklin-content th,
td {
  font-size: var(--small);
  padding: 10px;
  border: 1px solid black;
}

.franklin-content blockquote {
  background: var(--block-background);
  border-left: 7px solid #a8a8a8;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  font-style: italic;
}

.franklin-content blockquote p {
  display: inline;
}

/* ==================================================================
    GENERAL FORMATTING
================================================================== */

/* Spacing between bullet points. */
.franklin-content li p {
  margin: 10px 0;
}

.franklin-content a {
  color: #004de6;
  text-decoration: none;
}

.franklin-content a:hover {
  text-decoration: underline;
}

/* ==================================================================
    HYPERREFS AND FOOTNOTES
================================================================== */

.franklin-content .eqref a { color: green; }
.franklin-content .bibref a { color: green; }

.franklin-content sup {
  font-size: 70%;
  vertical-align: super;
  line-height: 0;
}

.franklin-content table.fndef {
  margin: 0;
  margin-bottom: 10px;
}

.franklin-content .fndef tr,
td {
  padding: 0;
  border: 0;
  text-align: left;
}

.franklin-content .fndef tr {
  border-left: 2px solid lightgray;
}

.franklin-content .fndef td.fndef-backref {
  vertical-align: top;
  font-size: 70%;
  padding-left: 5px;
}

.franklin-content .fndef td.fndef-content {
  font-size: 80%;
  padding-left: 10px;
  width: 100%;
}

/* ==================================================================
    IMAGES in CONTENT
================================================================== */

.franklin-content img {
  width: 70%;
  text-align: center;
  padding-left: 10%;
}

.franklin-content .img-small img {
  width: 50%;
  text-align: center;
  padding-left: 20%;
}

/* ==================================================================
    KATEX
================================================================== */

body { counter-reset: eqnum; }

.katex { font-size: 1em !important; }

.katex-display .katex {
  /* Overwrite KaTeX settings. */
  display: inline-block;

  /* Allow display equations to wrap on small screens. */
  white-space: normal;
}

.katex-display::after {
  counter-increment: eqnum;
  content: "(" counter(eqnum) ")";
  position: relative;
  float: right;
  padding-right: 5px;
}

.nonumber .katex-display::after {
  counter-increment: nothing;
  content: "";
}

/* ==================================================================
    CODE & HIGHLIGHT.JS
================================================================== */

code {
  background-color: var(--output-background);
  padding: 0.1em 0.2em;
  border-radius: 2px;
  font-size: var(--small);
}

/* Franklin does not annotate code output with the
 * "code-output" class when using prerender=true
 * instead, use "plaintext" for code output and can
 * substitute actual plaintext with "text" or "txt"
 * https://highlightjs.readthedocs.io/en/latest/supported-languages.html
 */
.plaintext {
  background: var(--output-background);
  border: 1px dashed #dbdbdb;
}

.hljs {
  font-size: var(--small);
  line-height: 1.35em;
  border-radius: 10px;
  background: var(--background);
}

/* colors from https://julialang.org/assets/infra/logo.svg */
.hljs-meta.prompt_ {font-weight: bold; color: #389826;}
.hljs-metas        {font-weight: bold; color: #cb3c33;}
.hljs-metap        {font-weight: bold; color: #4063d8;}

/* ==================================================================
    BOXES
================================================================== */

.franklin-content .colbox-blue {
  background-color: #eef3f5;
  padding-top: 5px;
  padding-right: 10px;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 0 10px 10px 0;
  border-left: 5px solid #4c9cf1;
}

/* ==================================================================
    HEADER AND NAV
================================================================== */

nav {
  width: 64%;
  display: inline-block;
}

nav ul {
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

nav li {
  display: inline-block;
}

nav li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  /* font-weight: bold; */
  display: inline-block;
  float: center;
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 5px;
  margin-left: 7px;
  margin-right: 7px;
  /* border-bottom: 2px solid #4c9cf1; */
  transition: color 0.3s ease;
}

header {
  text-align: right;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
}

header .blog-name {
  width: 35%;
  display: inline-block;
  text-align: left;
  font-size: 20px;
  /* font-family: "Lucida Console", Monaco, monospace; */
  padding-top: 10px;
}

.font-weight-bold {
  font-weight: 700 !important;
}

.active {
  color: var(--theme-darksilver-color);
  font-weight: 400;
}

header .blog-name a {
  color: black;
  text-decoration: none;
}

header li a:hover {
  color: var(--theme-seagreen-color);
  /* border-bottom: 2px solid black; */
}

#menu-icon {
  display: none;
}

@media (max-width: 480px) {
  header {
    padding-left: 6%;
    padding-right: 6%;
  }
}

@media (min-width: 481px) {
  header {
    padding-left: 12.5%;
    padding-right: 12.5%;
  }
}

/* wide display: enforce maximum width of header to match content */
@media (min-width: 940px) {
  header {
    width: 705px;
    margin-left: auto;
    margin-right: auto;
  }
}

/*
medium display: nav goes under name
*/
@media (max-width: 760px) {
  header { display: block; }

  header .blog-name {
    display: block;
    width: 100%;
    padding-bottom: 10px;
  }

  nav {
    width: 100%;
  }
}

/*
narrow display: collapse the header (don't show the menu items)
instead, display a burger menu.
*/
@media (max-width: 500px) {
  header {
    height: 35px;
    display: flex;
    align-items: center;
  }

  header .blog-name {
    display: inline-block;
    width: 70%;
  }

  nav {
    display: inline-block;
    width: 27%;
  }

  nav ul,
  nav:active ul {
    display: none;
    position: absolute;

    /* padding: 20px; */
    background: #fff;
    border: 1px solid #444;
    right: 50px;
    top: 60px;
    width: 30%;
    border-radius: 4px 0 4px 4px;
    z-index: 1;
  }

  nav li {
    text-align: left;
    display: block;
    padding: 0;
    margin: 0;
  }
  header li a { border-bottom: none; }
  header li a:hover { border-bottom: none; }

  nav:hover ul {
    display: block;
  }

  #menu-icon {
    display: inline-block;
    margin-right: 10px;
    margin-top: 5px;
  }
}

table {
  line-height: 1em;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  text-align: center;
  margin-bottom: 1.5em;
}

tr:first-of-type {
  background: #eae9f4;
}

tr:first-of-type > th {
  text-align: center;
}

tr,
th,
td {
  padding: 10px;
  border: 1px solid lightgray;
}

table tbody tr td {
  border: 1px solid lightgray;
}

