.category h2 {
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-normal);
  color: var(--theme-lightsilver-color);
  text-align: right;
  margin-top: 0;
  margin-bottom: 2rem;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout */

@media (min-width: 760px) {
  .inference {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 940px) {
  .inference {
    grid-template-columns: repeat(3, 1fr);
  }
}

.inference {
  display: grid;
  grid-auto-rows: auto;
  gap: var(--font-size-normal);
}

.card {
  box-shadow: var(--box-shadow);
  width: 100%;
  transition: all 0.55s ease-in-out;
}

.card:hover {
  /* prettier-ignore */
  box-shadow:
    0 8px 17px 0 rgba(0, 0, 0, 0.20),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card a {
  color: var(--text-color);
  transition: all 0.2s ease-in-out;
  text-decoration: none;
}

.card a:hover {
  color: var(--theme-darksilver-color);
  text-decoration: none;
}

.card img {
  padding-left: 0;
  width: 100%;
  height: auto;
}

.card-body {
  padding: var(--font-size-normal);
}

.card h2 {
  font-size: var(--font-size-h2);
  text-transform: lowercase;
  margin-top: 0;
  margin-bottom: 0;
  border: none;
}

.card p {
  font-size: var(--font-size-small);
  font-weight: var(--font-weight-thick);
  color: var(--theme-darksilver-color);
  margin-top: 0;
  margin-bottom: 0;
}
